@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-primary text-gray-100 font-sans antialiased overflow-x-hidden;
  }

  ::selection {
    @apply bg-accent/30 text-white;
  }
}
